* {
    border: 1px solid pink;
}

body {
    width: 960px;
    margin: 0 auto;
    color: #777;
}

#headerOne {
    background-color: #fff;
    border-color: #ccc;
}

#name {
    background-color: #4aaaa5;
    color: white;
}

h2 {
    color: #4aaaa5;
}


img {
    width: 200px;
}

#thin-line {
    background-color: #4aaaa5;
    height: 10px;
}

footer {
    background-color: #666666;
    color: #fff;
}

